body {
  height: 100vh;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%s;
}

.nav-container {
  background-color: white;
  a {
    color: black;
  }
  a:hover {
    color:white;
    background-color: #40ADFF;
    border-radius: 8px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: black;
    font-weight: bold;
  }
  ul {
    display: flex;
  }
  a {
    display: block;
    padding: 0 1em;
  }
}


.hero {
  color: black;
  display: grid;
  text-align: center;
  padding: 4em;

  button {
    background-color: #FFB442;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 40px;
    margin-left: 90px;
    margin-top: 30px;
  }
  button:hover {
    background-color: #40ADFF;
    color: black;
    transition: 0.3s;
  }

}


section {
background-color: #C8D8F0;
padding: 4em, 2em;
text-align: center;

}

span {
  padding: 4em 2em;
  text-align: center;
}

.promo1 {
  font-size: 15px;
  padding: 3em;
  font-weight: 80;
}

.promo2 {
  font-size: 15px;
  padding: 3em;
  font-weight: 80;
}

.promo3 {
  font-size: 15px;
  padding: 3em;
  font-weight: 80;
}


.promo-button {
  padding: 2em;
  background: #C8D8F0;
  box-shadow: 0px 16px 32px -8px #E7EBF1;
  border-radius: 16px;
  width: 340px;
  margin-left: 25px;

  button {
    background-color: #40ADFF;
    border: none;
    color: black;
    height: 40px;
    border-radius: 8px;
    width: 130px;
  }
}


footer {
  background-color: #0B3C69;
  padding: .5em;
  h3 {
    text-align: center;
  }
  img {
    width: 30px;
    position: absolute;
    margin-top: -85px;
    margin-left: 115px;
  }
  .add {
    text-align: center;
  }
  .about {
    text-align: center;
    padding: 1em;
    a {
      padding: 1em;
    }
    a:hover {
      color: white;
    }
  }

  .contact {
    display: flex;
    .gmail {
      margin-left: 20px;
      color: white;
    }
    .num {
      margin-left: 100px;
      color: white;
    }
  }
}


@media screen and (min-width:600px) {
  .hero {
    button {
    margin-left: 170px;
  }
  
}
section {
  display: flex;
}


.comment {
  padding: 1em;
}


.promo-button {
  margin-left: 115px;
}




}
